html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

#Welcome {
    
    font-family: "Montserrat",sans-serif;  
}

.WelcomeText{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 850px;
    z-index: 1;
    position: absolute;
    max-width: 100%;
    width: 100%;
}
.bannercontacts{
    display:flex;
    flex-direction: column;
    position: relative;
    filter: brightness(70%) contrast(120%);
    animation: WelcomeImageAnim 3s;
}
#Welcome h1 {
    font-size: 70px;
}

#Welcome p {
    font-size: 40px;
}

#logo {
    padding-top: 15px !important;
}


#header-inner{
    z-index: 199 !important;
    position: fixed;
    width: 100%;
    max-width: 100%;
}
#header #header-inner{
    height: 80px;
    transition: all .4s ease-in-out
}

#logo {
    padding-left: 25px;
    padding-right: 25px;
}
#header #header-inner #logo {
    float: left;
    font-size: 12px;
    position: relative;
    transition: all .4s ease-in-out;
    height: 80px;
    
    letter-spacing: 1.5px
}




#header[data-fullwidth="true"] #header-inner .container,#header[data-fullwidth="true"] #header-wrap .container {
    max-width: 100%;
}

.container{
    max-width: 100%;
    padding: 0;
}

#header-inner {
    box-shadow: 0 0 18px 0 rgba(0,0,0,0.12) !important
}


#mainMenu nav {
    float: right;
    width: 80%;
    padding-top: 13px;
}

#mainMenu nav>ul {
    list-style: none;
}

#mainMenu nav>ul>li {
    float: left;
}

#mainMenu nav>ul>li>a {
    position: relative;
    font-family: "Montserrat",sans-serif;
    padding: 10px 12px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.6px;
    color: white;
    border-radius: 0;
    border-width: 0;
    border-style: solid;
    border-color: transparent;
    transition: all .3s ease;
    line-height: normal;

}


#mainMenu nav>ul>li>a:hover{
    font-size: 14px;
}


#companyInfo{
    display: flex;
    flex-direction: column;
}
.subheading {
    height: 100px;
    background-color: white;
    transition: all .4s ease-in-out;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: solid 2px orange;
    border-top: solid 2px orange;
    z-index: 1;
    animation: borderAnim 4s;
}

.subheadingText {
    font-family: "Montserrat", sans-serif;
    font-size: 45px;
    font-weight: 400;
    letter-spacing: 1px;
    
}
.MainBlock{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
}

.blockInfo {
    background-color:#FDFBFB;
    display: flex;
    flex-direction: row;
    transition: all .4s ease-in-out;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: 100%;
}

.text {
   
    margin-left: 50px;
    font-family: "Montserrat",sans-serif;
    font-size: 20px;
    width: 800px;
}


.block{
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 40px;
    justify-content: center;
    align-items: center;
}


.text ul {
    list-style-type: decimal;
}



.imageBlock{
    margin-top: 40px;
    margin-bottom: 40px;
    border: solid 2px orange;
    animation: borderAnimImage 3s;
}

#cellar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 70px;
}
#cellarText{
    font-family: "Montserrat";
    font-size: 15px;
}

@keyframes borderAnim {
    0% {
        border-color: #FDFBFB;
        background-color: #FDFBFB;
    }
    50% {
        background-color: #FDFBFB;
    }
    100%{
        border-color: orange;
        background-color: white;
    }
}



@keyframes WelcomeImageAnim{
    0% {
        filter: brightness(0%) contrast(100%);
    }
    100%{
        filter: brightness(70%) contrast(120%);
    }
}

.tab-content{
     padding: 12px 20px;
    border-radius: 5px;
    border: 1px solid #e6e8eb;
    margin-bottom: 25px;
    display: flex;
    box-shadow: 0 0 18px 0 rgba(0,0,0,0.12) !important;
}

.tab-content-text{
    font-family: "Montserrat",sans-serif;
    font-size: 17px;
    margin-left: 50px;
    width: 300px;
}
.blockWork{
    padding: 12px 20px;
    border-radius: 5px;
    border: 1px solid #e6e8eb;
    margin-bottom: 25px;
    display: flex;f
    box-shadow: 0 0 18px 0 rgba(0,0,0,0.12) !important;
}
.blockWork ul>li{
    margin-bottom: 3px;
}
.blockWork ul{
    margin-top: 6px;
}

.image{
    height: 400px;
    width: 550px;
}

.imageSpecial {
    height: 400px;
    width: 300;

}

.round-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: orange;
    color: white;
    font-size: 24px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 10px;
}

.round-btn:hover {
    background-color: orangered;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-1.25em);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.blockWork[open] {
    animation-name: fadeInDown;
    animation-duration: 0.5s;
}

.blockWork > summary {
    display: flex;
    justify-content: space-between;
}
.blockWork[open] > summary {
}
.custom-marker
{
    height: 25;
    width: 25;
}

.text > input[type="radio"] {
  display: none;
}

.tab-content {
  display: none;
  width: 100%;
  margin-top: 1rem;
  animation-name: fadeInDown;
    animation-duration: 0.5s;
}

#tab-btn-1:checked~#content-1,
#tab-btn-2:checked~#content-2,
#tab-btn-3:checked~#content-3 {
  display: block;
}

.text > label {
    font-size: 15px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  cursor: pointer;
  transition: color .15s ease-in-out, border-color .15s ease-in-out;
  color: gray;
  background: 0 0;
  border-bottom: 0.125rem solid transparent;
  margin-right: 5px;
}

.text > label:hover {
  border-bottom-color: gray;
}

.text > input[type="radio"]:checked + label {
  cursor: default;
  font-weight: bold;
  color: #212529;
  border-bottom-color: #212529;
  
}


.geoApp 
{
    color:black;
    text-decoration: blink;
    font-weight: bold;
}

.geoApp:hover {
    color: orange;
}

.blockApp > img {
    height: 50;
    width: 50;
    margin-bottom: 3px;
    
}
.blockApp
{
    max-width: 100%;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
    height: 150;
}
.App
{
    font-size: 12px;
    display: flex;
    flex-direction: row;

}

.contacts{
    list-style-type: none;
}


.submenu {
    display: none;
}


.dropbtn {
    background-color: rgba(255,255,255, 0);
    color: white;
    padding: 13px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100px;
}


.dropbtn:hover {
    background-color: rgba(128,128,128, 0.5);
}


.dropdown {

    position: relative;
        float: right;
    display: none;
}


.dropdown-content {
    display: none;

    position: absolute;
    background-color: rgba(128, 128, 128, 0.9);
    color: white;
    overflow: auto;
    right: 0;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content nav>ul>li {
    width: 250px;
    padding-left: 0px;
}
.dropdown-content nav>ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        padding-left: 0px;
}

.dropdown-content nav>ul>li>a {
    font-family: "Montserrat",sans-serif;
    color: white;
    padding-top: 12px;
    padding-bottom: 12px;
    text-decoration: none;
    display: block;
    max-width: 100%;
    width: 100%;
    text-align: center;
}


.dropdown-content nav>ul>li>a:hover {background-color: rgba(255,255,255, 0.3)}


.show {display:block;}

.tabblockInfo{
    background-color:#FDFBFB;
    display: flex;
    flex-direction: row;
    transition: all .4s ease-in-out;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: 100%;
}
.tabImageBlock {
    margin-top: 40px;
    margin-bottom: 40px;
    border: solid 2px orange;
    animation: borderAnimImage 3s;
}

@media screen and (max-width: 1296px){
    .block {
        margin-left: 15px;
    }
    .text{
        width: 420px;
        margin-left: 15px;
        font-size: 20px;
    }
    .subheadingText {
        font-size: 40px;
    }
    .image{
        height: 300;
        width: 450;
    }
    .tabblockInfo{
        display: flex;
        flex-direction: column;
    }
    .tabImageBlock {
        margin-bottom: 20px;
        margin-top: 20px;
    }
}


@media screen and (max-width: 1250px)
{
    .block {
        margin-left: 15px;
    }
    .text{
        width: 420px;
        margin-left: 15px;
        font-size: 16px;
    }
    .subheadingText {
        font-size: 35px;
    }
    .image{
        height: 300;
        width: 450;
    }
}

@media screen and (max-width: 1132px)
{
    #Welcome h1 {
        font-size: 50px;
    }

    #Welcome p {
        font-size: 20px;
    }

    #mainMenu nav>ul>li>a {
        font-size: 10px;
    }

    #mainMenu nav>ul>li>a:hover{
    font-size: 12px;
}
}
@media screen and (max-width: 1072px){
    #Welcome h1 {
        font-size: 40px;
    }

    #Welcome p {
        font-size: 20px;
    }

    .subheadingText {
        font-size: 30px;
    }
}

@media screen and (max-width: 1025px)
{
    .dropdown {
        padding-top: 15px;
        display: block;
    }

    #header-inner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #logo{
        padding-top: 30px;
    }

    #mainMenu {
        display: none;
    }
    .subheadingText {
        font-size: 28px;
    }
    #header #header-inner{
        height: 80px;
        transition: all .4s ease-in-out
    }
    #mainMenu nav {
        padding-top: 0px;
        width: 100%;
    }
}

@media screen and (max-width: 955px){
    .image{
        height: 250;
        width: 400;
    }
}

@media screen and (max-width: 896px){
    .subheadingText {
        font-size: 23px;
    }
    .text{
        width: 400px;
    }

    #Welcome h1 {
        font-size: 30px;
    }

    #Welcome p {
        font-size: 20px;
    }
}

@media screen and (max-width: 860px){
    #header-inner{

    }
    .blockInfo{
        flex-direction: column;
    }
    .text{
        width: 700px;
        font-size: 20px;
    }
    .image {
        height: 350;
        width: 500;
    }
    .imageBlock{
        margin-top: 20px;
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 740px){
    .text{
        width: 600px;
        font-size: 17px;
    }
}
@media screen and (max-width: 675px){
     .text{
        width: 500px;
    }
     #Welcome h1 {
        font-size: 35px;
    }

    #Welcome p {
        font-size: 20px;
    }
    .bannercontacts {
        height: 600px;
    }
}
@media screen and (max-width: 572px){
    .bannercontacts {
        height: 500px;
    }
}

@media screen and (max-width: 540px){
    .text{
        width: 450px;
        font-size: 15px;
    }
    .tab-content-text{
        font-size: 15px;
    }
    .image {
        height: 300;
        width: 450;
    }
    .subheadingText {
        font-size: 20px;
    }
}



@media screen and (max-width: 500px){
    .bannercontacts {
        height: 450px;
    }
    .image {
        height: 250;
        width: 400;
    }
     .text{
        width: 400px;
        margin-left: 0;
    }
    .block {
        margin-left: 0;
    }
    .imageSpecial{
        height: 380;
        width: 230;
    }
}

@media screen and (max-width: 436px){
    .image {
        height: 200;
        width: 350;
    }
    .text {
        width: 350px;
    }
}
@media screen and (max-width: 383px){
    .tab-content-text{
        font-size: 13px;
    }
}

@media screen and (max-width: 381px)
{
.tab-content-text {
        margin-left: 10px;
        width: 200px;
    }}
@media screen and (max-width: 376px){
    .image {
        height: 200;
        width: 300;

    }
    .text {
        font-size: 13px;
        width: 300px;
    }
    .bannercontacts {
        height: 400px;
    }
    .round-btn {
        height: 30px;
        width: 30px;
        font-size: 20px;
    }
    #footertext{
        font-size: 10px;
    }
    .subheadingText {
        font-size: 15px;
    }
    #logo a>span>img{
        width: 130;
        padding-top: 5px;
    }
    .imageSpecial{
        height: 300px;
    }
}
@media screen and (max-width: 340px){
    .bannercontacts {
        height: 300px;
    }
    .tab-content-text {
        margin-left: 10px;
        width: 200px;
    }
}





*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content{
  position: relative;

}

.btm-slides{
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.btm-slides span{
  height: 15px;
  width: 50px;
  border: 2px solid white;
  cursor: pointer;
}
.sliders{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 45px;
  cursor: pointer;
  border: 2px solid white;
  border-radius: 90px;
  background: rgba(255,255,255,0.1);
}
.sliders:hover{
  background: rgba(255,255,255,0.2);
}

.sliders span{
  line-height: 41px;
  font-size: 35px;
  color: white;
    padding-left: 11px;
}
.slideblock {
    border: solid 2px orange;
    animation: borderAnimImage 3s;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 40px;

}
.right {
    right: 0;
}
@keyframes borderAnimImage {
    0% {
        border-color: #FDFBFB;
    }
    50%{
        border-color: #FDFBFB;
    }
    100%{
        border-color: orange;
    }
}